.categories {
   width: 200px;
}

.categories-filter {
   display: block;
   color: #fff;
   text-align: center;
   margin-bottom: 5px;
   padding: 10px 0;
   width: 100%;
   border: 1px solid #000000;
   background-color: #7a7a7a;
   cursor: pointer;
   border-radius: 10px;
}

.categories-filter:hover {
   background-color: #5a5a5a;
}