.add-lot {
   position: absolute;
   top: 100px;
   left: 50%;
   transform: translateX(-50%);
   width: 500px;
   display: flex;
   flex-direction: column;
   gap: 10px;
   background-color: gray;
   padding: 20px;
   z-index: 10;
}

.add-lot input {
   display: block;
   width: 100%;
   padding: 2px;
   max-width: unset;
}